<!DOCTYPE html>
<html class='no-js'>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- vendor css -->
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.css">

    <meta charset="utf-8">

    <!-- my css -->
    <link rel='stylesheet' href='/public/css/default.css' type='text/css'>

    <!-- inline css -->
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 20px;
        }
    </style>

    <!-- vendor JS -->
    <script src='/public/js/vendor/d3.js'></script>
    <script src='/public/js/vendor/jquery-1.11.1.js'></script>
    <script src='/public/js/vendor/moment.js'></script>
    <script src='/public/js/vendor/underscore.js'></script>

    <!-- personal JS -->
    <script src='/public/js/index.js'></script>

  </head>

  <body>

    <div style="width:100%; height:40px; background-color: rgb(240,240,240)">A Header</div>

      {{{ body }}}

  </body>

</html>
